body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  color: white;
}

.box-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.box {
  width: 100px;
  height: 100px;
  background: crimson;
  transform: translateY(100px);
  opacity: 0;
}
